html, body {
 height: 100%;
}
body {
 margin: 0;
}
#root {
    min-height: 100%;
}

/**
Colors
*/
.cl {
    padding: 0px;
}
.cl1 {
    background: #F00;
}
.cl2 {
    background: #FF8000;
}
.cl3 {
    background: #FFFF00;
}
.cl4 {
    background: #00FF00;
}
.cl5 {
    background: #00FFFF;
}
.cl6 {
    background: #0000FF;
}
.cl7 {
    background: #FF00FF;
}

/**
Flex
*/
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}
.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
.flex-item1 {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

/**
Main part
*/
.app {
    min-height: 768px;
    height: 100vh;
}

.game-container {
    padding: 0 20px;
}
.game-container .row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.game-container .row > a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    max-width: 30px;
    text-decoration: none;
}

.chooser {
    margin: 10px 10px 10px 0;
    width: 10%;
    height: 80px;
}
